# Ignore node modules
/node_modules

# Ignore public build files
/public/build
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json

# But not these files...
!/public/assets/*
/public/assets/js
/public/assets/css
/public/assets/vendor

# Ignore environment variables
.env
.env.backup
.env.production

# Ignore composer lock file
composer.lock

# Ignore PHPUnit cache
/.phpunit.cache
.phpunit.result.cache

# Ignore Docker-related files
docker-compose.override.yml

# Ignore Homestead files
Homestead.json
Homestead.yaml

# Ignore npm/yarn logs and lock files
npm-debug.log
/package-lock.json
yarn-error.log
yarn.lock
package-lock.log

# Ignore IDE/editor directories
/.idea
/.vscode
/vendor
